.red {
    background-color: rgb(247, 173, 177);
    font-family: Verdana, "Deja-vu Sans", sans-serif;
}

#blue {
    color: #0E12DF;
    font-size: 36px;
}

.cooler,
#green {
    font-size: 24px;
}

#green{
    background-color: hsl(123, 100%, 76%);
    font-weight: bold;
}